.pnr-container {
  background: rgba(0,0,0,0.6);
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  color: white;
  text-align: left;
}

.pnr-container h1 {
  text-align: center;
  color: orange;
  margin-bottom: 20px;
}

.pnr-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.pnr-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.pnr-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background: #1d9bf0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.pnr-container button:hover {
  background: #005bb5;
}

.pnr-result {
  background: rgba(0,128,0,0.7);
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
}
